body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
}

.view {
    width: 100%;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

col.selected {
    width: 39px;
}

col.size {
    width: 100px;
    text-align: right;
}

col.date {
    width: 150px;
}

tr {
    border-bottom: 1px solid #ededed;
}

tr.header {
    background-color: #fafafa;
    border-top: 1px solid #ededed;
}

tr:hover {
    background-color: #f0f0f0;
}

th {
    font-weight: normal;
}

th,
td {
    overflow: hidden;
    padding: 8px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th:nth-child(3),
th:nth-child(4),
td:nth-child(3),
td:nth-child(4) {
    text-align: right;
}

.media-control {
    font-family: 'Apple Color Emoji','Segoe UI Emoji','NotoColorEmoji','Noto Color Emoji','Segoe UI Symbol','Android Emoji','EmojiSymbols';
    font-size: 24pt;
}

.hidden {
    display: none;
}

.login-page {
  width: 340px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
