body {
    font-family: sans-serif;
    margin: 0;
    padding: 1.25rem;
}

.view {
    width: 100%;
}

.media-control {
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'NotoColorEmoji', 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji', 'EmojiSymbols';
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

.login-page {
    width: 21rem;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 0.9rem;
    padding: 0.9rem;
    box-sizing: border-box;
    font-size: 0.875rem;
}

.form button {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 0.9rem;
    color: #FFFFFF;
    font-size: 0.875rem;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.form .message {
    margin: 0.9rem 0 0;
    color: #b3b3b3;
    font-size: 0.75rem;
}

.entry {
    align-items: center;
    border: solid #ededed;
    border-width: 0 1px 1px;
    display: grid;
    grid-template-columns: 3rem 6rem 10rem auto;
    grid-template-areas: "selected name name name""selected size date .";
}

.entry>* {
    padding: 0.8rem;
}

.entry.header {
    background-color: #fafafa;
    border-top: 1px solid #ededed;
}

.entry:hover {
    background-color: #f0f0f0;
}

.entry>* {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.entry:not(.share)> :nth-child(1) {
    justify-self: center;
    grid-area: selected;
}

.entry:not(.share)> :nth-child(2) {
    grid-area: name;
}

.entry:not(.share)> :nth-child(3) {
    grid-area: size;
    text-align: left;
}

.entry:not(.share)> :nth-child(4) {
    grid-area: date;
    text-align: left;
}

.entry.share :nth-child(1) {
    grid-area: name;
}

@media only screen and (min-width: 600px) {
    .entry {
        grid-template-columns: 3rem auto 6rem 10rem;
        grid-template-areas: "selected name size date";
    }

    .entry> :nth-child(3) {
        text-align: right;
    }

    .entry> :nth-child(4) {
        text-align: right;
    }
}
