name: ci

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:

    name: Build - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:

    - name: Checkout
      uses: actions/checkout@v1

    - name: Install toolchain
      uses: actions-rs/toolchain@v1
      with:
          toolchain: stable

    - name: Install components
      run: rustup component add --toolchain stable rustfmt clippy

    - name: Install libsqlite3-dev
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install libsqlite3-dev

    - name: Fetch
      uses: actions-rs/cargo@v1
      with:
        command: fetch

    - name: Format
      if: matrix.os == 'ubuntu-latest'
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: --all -- --check

    - name: Clippy
      uses: actions-rs/cargo@v1
      env:
        CARGO_INCREMENTAL: 0
      with:
        command: clippy
        args: -- -D warnings

    - name: Check
      env:
        CARGO_INCREMENTAL: 0
      uses: actions-rs/cargo@v1
      with:
        command: check

    - name: Build
      env:
        CARGO_INCREMENTAL: 0
      if: matrix.os != 'windows-latest'
      uses: actions-rs/cargo@v1
      with:
        command: build

    - name: Build
      env:
        CARGO_INCREMENTAL: 0
      if: matrix.os == 'windows-latest'
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --features bundled-sqlite

    - name: Test
      uses: actions-rs/cargo@v1
      env:
        CARGO_INCREMENTAL: 0
      if: matrix.os != 'windows-latest'
      with:
        command: test

    - name: Test
      uses: actions-rs/cargo@v1
      env:
        CARGO_INCREMENTAL: 0
      if: matrix.os == 'windows-latest'
      with:
        command: test
        args: --features bundled-sqlite
